/* Copy anything! */
body {
	background: url("https://i.imgur.com/CtSz4Bh.jpg") no-repeat center center fixed;
	background-size: cover;
}

.box {
	margin-bottom: 20px;
	padding-right: 1px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	box-shadow: 1px 0 #404040,0 1px #404040,1px 1px #404040,inset 1px 1px #fff;
	background-color: #d4d0c8;
	border-right: 1px solid #808080;
	border-left: 1px solid #d4d0c8;
	border-top: 1px solid #d4d0c8;
	border-bottom: 1px solid #808080;
	color: #000;
}

.rightHead {
	background: linear-gradient(90deg, rgba(10,36,106,1) 0%, rgba(166,202,240,1) 60%);
	color: white;
	padding: 0px;
	padding-bottom: 0px;
	height: 18px;
	padding-left: 2px;
}

.boxHead {
	background: linear-gradient(90deg, rgba(10,36,106,1) 0%, rgba(166,202,240,1) 60%);
	color: white;
	padding: 0px;
	padding-bottom: 0px;
	height: 18px;
	padding-left: 2px;
}

.fwiendCount::after {
	content: " epic";
}

#name::after {
	content: " yes";
}

#add::after, #sMsg::after {
	content: " :3";
}

.url.box > div > b {
	visibility: hidden;
}
.url.box > div > a {
	visibility: hidden;
}

.url.box > div > b::before {
	content: "Website URL";
	visibility: visible;
}

.url.box > div > a::before {
	content: "https://darkok.xyz";
	visibility: visible;
}

div.rightHead ~ * {
	padding-left: 6px;
	padding-right: 6px;
}

button {
	min-height: 22px;
	min-width: 20px;
	border: 1px solid;
	border-radius: 4px;
	border-color: #003c74;
	padding: 2px 6px;
	color: black;
	background: linear-gradient(0deg, rgba(214,208,197,1) 0%, rgba(255,255,255,1) 100%);
	text-align: center;
}

button:active {
	background: #e3e2da;
}

html,body,input[readonly]:not([type="checkbox"]):not([type="radio"]):not([type="range"]),textarea[readonly] {
	cursor:url("https://www.windows93.net/c/sys/cursors/default.cur"),default
}

input,textarea {
	cursor:url("https://www.windows93.net/c/sys/cursors/text.cur"),text
}

input[type=checkbox],input[type=radio],button,a {
	cursor:url("https://www.windows93.net/c/sys/cursors/pointer.cur"),pointer
}

#online > img {
	box-shadow: 1px 0 #404040,0 1px #404040,1px 1px #404040,inset 1px 1px #fff;
	background-color: #d4d0c8;
	border-right: 1px solid #808080;
	border-left: 1px solid #d4d0c8;
	border-top: 1px solid #d4d0c8;
	border-bottom: 1px solid #808080;
}

.fwiendFace {
	box-shadow: 1px 0 #404040,0 1px #404040,1px 1px #404040,inset 1px 1px #fff;
	background-color: #d4d0c8;
	border-right: 1px solid #808080;
	border-left: 1px solid #d4d0c8;
	border-top: 1px solid #d4d0c8;
	border-bottom: 1px solid #808080;
}
