/* Title buttons 
.ui_window__head__close, .ui_window__head__minimize, .ui_window__head__help{
    width: 22px !important;
    text-align: center !important;
    border: 1px solid #dfdfdf59 !important;
    background-color: none !important;
    background: linear-gradient(180deg, rgba(236,166,154,1) 0%, rgba(220,144,128,1) 49%, rgba(182,60,39,1) 50%, rgba(202,116,101,1) 100%) !important;
    box-shadow: 0px 0px 1px #391818, 0px 0px 1px #391818, 0px 0px 1px #391818, 0px 0px 1px #391818, 0px 0px 1px #391818 !important;
}

.ui_window__head__pin:before, .ui_window__head__config:before, .ui_window__head__reload:before, .ui_window__head__help:before, .ui_window__head__minimize:before, .ui_window__head__maximize:before, .ui_window__head__maximized:before, .ui_window__head__close:before {
    margin-left: 4px !important;
    color: white !important;
}
*/

*{
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
}
.s42_notif, #s42_notif{
    display: none !important
}
/* SYS32 - Windows 7
:not(.ui_explorer__selected_file){
    font-family: "Segoe UI", sans-serif;
    font-size: 12px !important;
}
*/
#s42_start > img{
      image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
    height: 32px !important;
    width: 32px !important;
}
#s42_start > span{
    display: none !important;
}
.s42_dock,#s42_dock{
    padding: 0 !important;
    margin: 0 !important;
}
.ui_window_docked{
    background: linear-gradient(160deg, rgba(255, 255, 255, .43) 0%, rgba(125, 125, 125, .22) 100%) !important;
     border: 1px solid #eeeeee85 !important;
    box-shadow: 1px 1px 0px #040404eb, -1px -1px 0px #020202eb !important;
    height: 100% !important;
    width: 56px !important;
    max-width: 56px !important;
}
#s42_start{
    margin-left: 3px !important;
    margin-right: 3px !important;
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    height: 100% !important;
    width: 44px !important;
    max-width: 44px !important;
}
.ui_window_docked__icon{
    width: 32px !important;
    height: 32px !important;
    margin-left: 6px !important;
}
.ui_window_docked__text{
    display: none !important;
}
#s42_taskbar{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
background-color: #31394054;
border: none !important;
border-top: 1px solid #ffffff70 !important;
    box-shadow: 0px -1px 0px #151515 !important;
backdrop-filter: blur(4px) !important;
height: 40px !important;
}
/* Temporary code for Window buttons */
/* Optional: Disable Icons for Clean Presentation */

button{
    border: 1px solid #676767 !important;
    background-color: #f0f0f0 !important;
    box-shadow: inset 1px 1px #fff, 1px 0 #2b2b2b, 0 1px #2b2b2b, 1px 1px #2b2b2b !important;
}
/*.ui_icon__lnk42{
    display: none !important;
} */
#ui_explorer_0 > div > span{
    overflow: visible !important;
    text-shadow: 1px 1px 3px black, 1px 1px 3px black, 1px 1px 3px black, 1px 1px 3px black, 1px 1px 3px black !important;
}
.ui_window__head__title{
    overflow: visible !important;
    color: black;
   text-shadow: 0px 0px 12px #fff, 0px 0px 12px #fff, 0px 0px 12px #fff, 0px 0px 12px #fff; 
    
    margin-bottom: 2px !important;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px !important;

   
}
.ui_explorer__selected_file{
    background-color: white !important;
}
.ui_window__menu{
    background-color: white !important;
    border: 1px solid #343434 !important;
    box-shadow: 1px 0px 0px #e6e6e6c9, -1px -1px 0px #e6e6e6c9 !important;
    border-radius: 2px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius:0 !important;
    
}
.ui_window__body, .ui_window__buttons{
    background-color: white !important;
    border-color: #343434 !important;
    border: 1px solid #343434 !important;
    box-shadow: 1px 1px 0px #e6e6e68c, -1px -1px 0px #e6e6e68c !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 2px !important;
}

.ui_window__buttons{
    background-color: #e8e8e8 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-color: transparent !important
}
.ui_alert > .ui_window__body{
    box-shadow: 1px 0px 0px #e6e6e6c9, -1px 0px 0px #e6e6e6c9 !important;
    overflow: hidden;
    border-bottom-color: white !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius:0 !important;
    
}

.cursor_pointer, .app_corglitch, .ui_notif span, .ui_menu .ui_menu__item, .ui_icon>img, .ui_icon>.ico, .ui_icon>span, a{
    cursor: pointer;
}
button, .btn{
    cursor: default;
}
.ui_window--draggable{
    cursor: move;
}
.cursor_default, label, .ui_menu--scroller>.ui_menu__up_handler:disabled, .ui_menu--scroller>.ui_menu__down_handler:disabled, .ui_menu .ui_menu__item--disabled, html, body, input[readonly]:not([type="checkbox"]):not([type="radio"]):not([type="range"]), textarea[readonly]{
    cursor: default;
}



#s42_background, #w93_background, .w93_background{
   /* background: url("https://wallpapershome.com/images/wallpapers/iphone-8-wallpaper-5120x2880-5k-15472.jpg") !important;*/
    background: url("https://content.instructables.com/ORIG/FAV/DAZ7/GM9QLU3U/FAVDAZ7GM9QLU3U.jpg") !important;
    background-size: auto !important;
    background-position: center !important;
}
.ui_window__head{
    background: none !important;
}
.ui_window{
    padding-left: 5px !important;
    padding-right: 6px !important;
    padding-bottom: 6px !important;
    padding-top: 4px !important;
    margin: 0 !important;
    border-radius: 4px !important;
    background-color: #6d7f8c54;
    backdrop-filter: blur(4px);
    border: 1px solid #ffffffba;
    box-shadow: 1px 1px 0px #000000a8, -1px -1px 0px #000000a8, 0px 0px 7px 1px #0000009e;
}

/* NEW CODE */




.ui_window__head button:not(.ui_window__head__minimize):not(.ui_window__head__close){
    margin-top: -7px;
    box-shadow: 0px 1px 0px 0px #243444, 1px 0px 0px 0px #243444, -1px 1px 0px 0px #243444, /*test*/ 1px 1px 0px 0px #243444, 0px 2px 0px 0px #cdd8e3, 2px 0px 0px 0px #cdd8e3, 2px 2px 0px 0px #cdd8e3 !important;
    line-height: 500px !important;
    border: 1px solid #adbbc9 !important;
    border-top: 1px solid white !important;
    width: 24px;
    height: 16px;
    margin-left: 0;
    background: url("https://cdn.discordapp.com/attachments/323150287399419904/773309503810306068/unknown_3.png"), linear-gradient(180deg, rgba(185,200,215,1) 0%, rgba(144,166,187,1) 50%, rgba(92,120,149,1) 50%, rgba(116,143,175,1) 100%);
    background-repeat: no-repeat;
    background-position: center;
}


.ui_window__head__minimize{
    margin-top: -7px;
    box-shadow: 0px 1px 0px 0px #243444, 1px 0px 0px 0px #243444, -1px 1px 0px 0px #243444, 0px 2px 0px 0px #cdd8e3, -2px 0px 0px 0px #cdd8e3, -2px 2px 0px 0px #cdd8e3 !important;
    line-height: 500px !important;
    border: 1px solid #adbbc9 !important;
    border-top: 1px solid white !important;
    width: 24px;
    height: 16px;
    margin-left: 0;
    background: url("https://cdn.discordapp.com/attachments/323150287399419904/773310851905093662/unknown_4.png"), linear-gradient(180deg, rgba(185,200,215,1) 0%, rgba(144,166,187,1) 50%, rgba(92,120,149,1) 50%, rgba(116,143,175,1) 100%);
    
    background-repeat: no-repeat;
    background-position: center;
}

.ui_window__head__close{
    margin-top: -7px;
    box-shadow: 0px 1px 0px 0px #51251d, 1px 0px 0px 0px #482c26, -1px 1px 0px 0px #874a41, /*test*/ 1px 1px 0px 0px #243444, 0px 2px 0px 0px #cdd8e3, 2px 0px 0px 0px #cdd8e3, 2px 2px 0px 0px #cdd8e3 !important;
    line-height: 500px !important;
    border: 1px solid #d8aaa2 !important;
    border-top: 1px solid white !important;
    width: 44px;
    height: 16px;
    margin-left: 0;
background: url("https://cdn.discordapp.com/attachments/323150287399419904/773307290124156949/unknown_2.png"), linear-gradient(180deg, rgba(216,162,160,1) 0%, rgba(202,117,109,1) 50%, rgba(186,59,46,1) 50%, rgba(191,114,102,1) 100%) ;
    border-bottom-right-radius: 3px;
    background-repeat: no-repeat;
    background-position: center;
}

.ui_window__head button:first-of-type{
    border-bottom-left-radius: 3px;
}



.ui_icon__lnk42:hover {
    border: solid 1px #b6d5ff4f;
    background-color: #aecbf226;
    margin: -1px;
    margin-left: 0px;
}

.ui_icon__lnk42.ui_selected>span {
    background: none;
    color: white;
}

.ui_icon.ui_selected:not(.ui_is_dragging)>.ico, .ui_icon.ui_selected:not(.ui_is_dragging)>img {
}

.ui_is_dragging:not(.ui_window) {
    background: none !important;
    border: none !important;
    opacity: 0.5 !important;
    margin: -1px;
    margin-left: 0px;
}

.ui_is_dragging:not(.ui_window) > span {
    background: none !important;
    border: none !important;
}

.ui_icon__lnk42.ui_selected {
    border: solid 1px #86b9ffa1;
    background-color: #95c1fd6e;
    margin: -1px;
    margin-left: 0px;
}

#ui_explorer_0>.ui_icon>span {
    max-height: 26px;
}
