
.ui_window {
  border: 1px solid #555;
  background: #ccc;
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  min-height: 100px;
  z-index: 1000;
}


.ui_window__head {
  /* background: lightsteelblue; */
  color: #fff;
  padding: 2px 2px 2px 5px;
  display: flex;
}
.ui_window--active .ui_window__head {
  /* background: steelblue; */
}
.ui_window__body {
  padding: 5px;
  position: relative;
  overflow: hidden !important;
  outline: 0 none;
}
.ui_window__body--flex {
  flex: 1 0 auto;
  overflow: auto;
 
}
*.ui_window__menu {
  border-bottom: 1px solid #ccc;
}
.ui_window__foot {
  border-top: 1px solid #ccc;
  padding: 2px 5px;
}*
.ui_window__menu {
  padding-bottom: 1px;
}
.ui_window__head__title {
  flex: 1;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui_window__body--with_iframe {
  padding: 0;
}
.ui_window__body > iframe{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.ui_window__head__help,
.ui_window__head__minimize,
.ui_window__head__maximize,
.ui_window__head__close {
  width: 16px;
  height: 16px;
  margin-left: 1px;
}

.ui_window__head__help:after,
.ui_window__head__minimize:after,
.ui_window__head__maximize:after,
.ui_window__head__close:after {
  content:"";
  padding: 15px 10px;
  position: absolute;
  left: -5px;
  top: -15px;
 /* background: rgba(255,0,0,.5) */
}


.ui_window_dock {
  display: flex;
}
.ui_window_docked {
  border: 1px solid #555;
  background: #ccc;
  max-width: 100px;
  flex: 1;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui_window_docked--minimized {
  background: #fff;
}


.ui_window--maximized {
  transition:all 0.3s ease;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.ui_window--draggable {
  cursor: move;
}

.ui_window--minimized {
  display: none;
}
.ui_window_transfer {
  position: fixed;
  display: none;
  border: 1px dotted #000;
  background: rgba(0,0,0,0.3);
  transition:all 0.3s ease;
}
.ui_window_retransfer {
  position: fixed;
  border: 1px dotted #000;
  background: rgba(0,0,0,0.3);
  transition:all 0.3s ease;
}

.ui_window__buttons {
  text-align: right;
  padding-right: 2px;
  padding-left: 2px;
}
.ui_window__buttons button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 3px;
  min-width: 70px;
}

.ui_window__head__close::before, .ui_window__head__maximize::before, .ui_window__head__minimize::before, .ui_window__head__help::before {
    padding-top: 1px !important;
    padding-left: 1px !important;
}

.ui_alert {
  max-height: 500px;
  width: 380px;
}
*.ui_alert .ui_window__body {
  background: transparent;
  border: 0 none;
  overflow: hidden;
}*
*.ui_alert .ui_window__foot {
  border: 0 none;
}*
*.ui_alert .ui_window__body {
  height: auto;
}*
.ui_alert__text {
  padding-top: 6px;
  padding-left: 6px;
  margin-left: 47px;
  padding-right: 47px;

  text-align: center;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
}
.ui_alert .ui_window__body--flex {
  height: auto;
}
.ui_alert h1 {
  margin-top: 0;
}
.ui_alert ul {
  padding-left: 2em;
  text-align: left;
}
.ui_alert li {
  margin-bottom: 1em;
}

.ui_alert__img{
  float: left;
  margin: 5px;
  min-width: 32px;
  min-height: 32px;
}
.ui_alert--code .ui_alert__text{
  text-align: left;
}
.js_error .ui_alert__text{
  text-align: left;
  padding-right: 20px;
}
.ui_alert .ui_window__buttons {
  text-align: center;
}

.ui_alert--help .ui_alert__text {
  text-align: left;
  white-space: normal;
}

*.ui_alert__progress {
  background: #333;
  padding: 1px;
  overflow: hidden;
}
.ui_alert__progress__bar {
  background: #0ff;
  background: linear-gradient(90deg, #0ff 8px, transparent 8px);
  background-size: 10px 50px;
  width: 0%;
  height: 16px;
}*

.ui_note {
  background-color: #F6F7C3 !important;
  border: 1px solid #9EA208 !important;
  box-shadow: 0 0 transparent !important;
}
.ui_note .ui_window__body {
  background: transparent;
  border: 0 none #000;
  border-color: #000;

  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
}
.ui_note .ui_window__foot {
  border: 0 none;
}



.ui_notif {
  *position: fixed;
  bottom: 35px;
  right: 10px;
  width: 270px;
  background: #FEFFE0;
  padding: 10px 15px;
  padding-right: 25px;
  border: 1px solid #333;
  border-radius: 6px;
  box-shadow: 1px 0 #999, 0 1px #999, 1px 1px #999, inset 1px 1px #fff, 2px 2px 7px 1px rgba(255,0,255,0.2);
  transform: translateX(12px) translateY(-23px);

  word-break: break-word;
  word-wrap: break-word;
}
.ui_notif iframe {
  max-width: calc(100% + 10px);
  position: relative;
  left: -5px;
  margin-bottom: 5px;
}
.ui_notif span {
  background: #FFFFF0;
  cursor: pointer;
  color: #91908D;
  border: 1px solid #AAA99F;
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 15px;
  height: 15px;
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 14px;
  border-radius: 2px;
}
.ui_notif span:hover {
  color: #666;
  border: 1px solid #666;
}
.ui_notif h1 {
  font-family: arial, sans-serif;
  font-size: 13px;
  margin: 0;
  margin-bottom: 3px;
}
.ui_notif p {
  margin: 0;
}
.ui_notif a {
  text-decoration: none;
  color: inherit;
  cursor: inherit;
}
.ui_notif:last-child:after, .ui_notif:last-child:before {
  top: 100%;
  right: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ui_notif:last-child:after {
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #feffe0 transparent transparent;
  margin-right: -10px;
}
.ui_notif:last-child:before {
  border-style: solid;
  border-width: 0 22px 22px 0;
  border-color: transparent #333 transparent transparent;
  margin-right: -11px;
}


.app_lisa *,
.ui_window.ui_desktop_layer {
  background-color: transparent !important;
  background-image: none !important;
  border: 0 none !important;
  padding: 0 !important;
  overflow: hidden !important;
  box-shadow: 0 0 transparent !important;
  pointer-events: none !important;
  min-width: initial !important;
  min-height: initial !important;
  outline: 0 none !important;
}
.ui_window.ui_desktop_layer .ui_window__body {
  padding: 0
}

.ui_window.ui_desktop_layer * {
  outline: 0 none !important;
  overflow: hidden !important;
}


.ui_window.ui_desktop_layer button,
.ui_window.ui_desktop_layer .ui_window__head {
  display: none!important;
}
*.ui_window.ui_desktop_layer {
  border: 1px solid red !important;
}*

.ui_window_docked--minimized {
  background-color: #808080 !important;
  text-shadow: 0 1px #fff !important;
  background-image: url('csysimgtrame.png') !important;
}



.ui_window_transparent {
  background: transparent !important;
  background-image: none !important;
  border: 0 none !important;
  box-shadow: 0 0 transparent !important;
}