.ui_window { /*Makes the windows background transparent*/
    background-color: transparent;
    backdrop-filter: blur(4px);
    box-shadow: 1px 0 #000,0 1px #000,1px 1px #000,inset 1px 1px #000,0 0 20px -1px #0000009f;
  	border: 2px, #000 !important;

}
.ui_window__head { /*Makes the Dragging bar blend into the windows background*/
    background: none !important;
}
#s42_taskbar { /* Makes the taskbar transparent and less high, transparency do not works on windows 94 for some reasons*/
    background-color: transparent;
    backdrop-filter: blur(5px);
    height: 30px;
	border: none;
}
#s42_start { /*makes the start button transparent and change the text color to white*/
    border: none;
    box-shadow: #000;
    background-color: transparent;
    height: 100%;
    color: #fff;
}
#s42_background { /*Obviously change the background*/
    background:url(https://cdn.discordapp.com/attachments/323150287399419904/757306473633284116/touhou-bliss-windows-xp-3eD5.png);
    background-repeat:no-repeat;
    background-size:cover /* Background from a Windows 94 Base install idk who made it */
}
#s42_taskbar #s42_notif { /*Makes the clock Transparent like the taskbar then change the text color to white*/
    background-color: transparent;
    color: #fff;
}
#s42_dock button, .ui_window__body button, .ui_window__ok, .ui_window__cancel { /*Makes the buttons also transparent*/
    background-color: transparent;
    box-shadow: 1px 0 #000,0 1px #000;
  	backdrop-filter: blur(5px) !important;
    height: 100%;
}
.ui_window .ui_menu .ui_menu__submenu {
    top: revert !important;
    left: revert !important;
}/* Fix a dumb bug on the submenus position inside the windows, thx for driftini and livetx for help */
.ui_window_docked--minimized, .ui_window_docked--minimized.pressed {/*Makes the windows button still transparent when the windows is still minimized*/
    background-color: transparent !important;
	background-image: linear-gradient(0,transparent,transparent) !important;
}
.ui_window__head__close {
  background-color: transparent !important;
}/* when there is a close/cross button, this make it transparent*/
.ui_window__head__minimize {
  background-color: transparent !important;
}/* when there is a minimize button, this make it transparent*/
.ui_window__head__maximize {
  background-color: transparent !important;
}/* when there is a maximize button, this make it transparent*/
.ui_window__head__maximized {
  background-color: transparent !important;
}/* when there is a windowed button, this make it transparent*/
.ui_window__head__help {
  background-color: transparent !important;
}/* when there is a help button, this make it transparent*/
.ui_window__head__title {
  text-align: center;
} /* makes the windows title centered*/
.skin_inset, .skin_inset_deep, .skin_outset, .skin_outset_deep {
	background: transparent;
}/* makes the body of the windows transparent*/
.ui_explorer__nav button, .ui_explorer__nav input {
	background: transparent !important;
    border: #000;
}/* makes nav buttons (explorer) tranparent*/
/* Yeah, I comment everything so my theme is noob-friendly, what's the problem?*/
/* By Bluesky on Sunday, october 4 2020. V1.6 */