*:not(.js-resizer){
	cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAAAAMAAAAGAAAABgAAAAwAAAEMAAABmAAAAdgAAAH4AAAB/wAAAf4AAAH8AAAB+AAAAfAAAAHgAAABwAAAAYAAAAEAAAAAAAAAA/////////////////////////////////////////////////////////////////z////4f///+H////D///3w///84f///GH///wD///8A////AA///wAf//8AP///AH///wD///8B////A////wf///8P////H////z////8='), auto !important;
}
@font-face {
  font-family:"Pixelated MS Sans Serif";src:url("https://unpkg.com/98.css@0.1.16/dist/ms_sans_serif.woff") format("woff");src:url("https://unpkg.com/98.css@0.1.16/dist/ms_sans_serif.woff2") format("woff2");font-weight:400;font-style:normal;
}

@font-face {
  font-family:"Pixelated MS Sans Serif";src:url(https://unpkg.com/98.css@0.1.16/dist/ms_sans_serif_bold.woff) format("woff");src:url(https://unpkg.com/98.css@0.1.16/dist/ms_sans_serif_bold.woff2) format("woff2");font-weight:700;font-style:normal;
}

@font-face {
font-family: "dos";src:url(http://domenic.darkok.xyz/cors/Web_IBM_EGA_8x14.woff) format("woff");
}
*{
    font-family: "Pixelated MS Sans Serif", sans-serif !important;
    font-size: 11px !important;
}

.ui_terminal *{
font-family: "dos", monospace !important;
font-size: 14px !important;
line-height: 17px !important;
color: #e1e1e1 !important;
}
.ui_terminal::-webkit-scrollbar{
display: none !important;
}
#ui_explorer_0{
    display: none !important;
}
.skin_background{
    /*background: #c1c1c1 !important; */
    background: url("https://raw.githubusercontent.com/andreasjansson/win-3.1-backgrounds/master/cropped/rivets.bmp"); 
  /* background: url("https://cdn.discordapp.com/attachments/699354946050457730/765542803580518480/dither_it_gradient.png");
  image-rendering: pixelated !important;
  background-size: cover !important; */
}
.skin_base{
    background: white !important;
}
.ui_window{
    background: white !important;
    border: 1px solid black !important;
    box-shadow: 0px 0px 0px 2px #c2c6ca, 0px 0px 0px 3px #000 !important;
    padding: 0 !important;
}
.ui_window__head{
    border-bottom: 1px solid black !important;
    padding: 0 !important;
    height: 20px !important;
    background: #0011a6 !important;
}

/*button{
    border: 1px solid black !important;
    border-radius: 2px !important;
    box-shadow: inset 2px 2px #fff, inset -2px -2px #85898d !important;
}*/


.ui_menu__submenu ul{
    box-shadow: none !important;
    border: 1px solid black !important;
    background-color: white !important;
}

.ui_menu__submenu ul li{
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}
.ui_menu__item__ico{
display: none !important;
}
.ui_menu__item--opener{
margin-left: 3px !important;
height: 100% !important;
margin-top: -2px !important;
margin-bottom: -2px !important;
padding-top: 2px !important;
padding-bottom: 3px !important;
}
.ui_menu__submenu ul .ui_menu__item__text{
    padding-left: 12px !important;
}

.ui_menu--bar .ui_menu__item--opener:after, .ui_menu--menu .ui_menu__item--opener:after, .ui_menu--tree .ui_menu__item--opener:after{
content:"";
}

.ui_menu--menu .ui_menu__item--focus, .ui_menu--bar>ul>.ui_menu__item--focus, .ui_menu--bar .ui_menu__submenu .ui_menu__item--focus{
background: #0011a6 !important;
}
.ui_menu__item__key{
display: none !important;
}
.ui_window .ui_window__menu{
font-weight: 600 !important;
border-bottom: 1px solid black !important;
}
button:not(.ui_window__head__close):not(.ui_window__head__maximize):not(.ui_window__head__minimize):not(.ui_window__head__help):not(.ui_window__head__maximized):not(.skin_outset):not(#s42_start):not(.ui_window_docked):active, input[type=submit]:active {
    outline: none !important;
    /*  min-height: 0 !important; */
    min-width: 60px !important;
    height: 18px !important;
    border-top: 1px solid #85898d !important;
    border-left: 1px solid #85898d !important;
    border-right: none !important;
    border-bottom: none !important;
    /*box-shadow: -1px -1px #000, 1px 1px #000 !important;*/
    box-shadow: 1px 0px black, -1px 0px black, 0px 1px black, 0px -1px black !important;
    background-color: #c2c6ca !important;
}

.ui_window__head__icon{
display: none !important;
}
.ui_window__head__title{
    font-weight: 600 !important;
    padding-right: 23px !important;
    text-align: center !important;
    width: 100% !important;
    padding-top: 1px !important;
    margin: auto !important;
}

/*#s42_taskbar{
    background: #e6e6e6 !important;
    border-top: 1px solid #4a4a4a !important;
} */
button:not(.ui_window__head__close):not(.ui_window__head__maximize):not(.ui_window__head__minimize):not(.ui_window__head__help):not(.ui_window__head__maximized):not(.skin_outset):not(#s42_start):not(.ui_window_docked), input[type=submit] {
    outline: none !important;
    /*  min-height: 0 !important; */
    min-width: 60px !important;
    height: 18px !important;
    border: none !important;
    border-top: 2px solid #fff !important;
    border-left: 2px solid #fff !important;
    border-right: 2px solid #85898d !important;
    border-bottom: 2px solid #85898d !important;
    /*box-shadow: -1px -1px #000, 1px 1px #000 !important;*/
    box-shadow: 1px 0px black, -1px 0px black, 0px 1px black, 0px -1px black !important;
    line-height: inherit !important;
    background-color: #c2c6ca !important;
}
.skin_outset, #s42_start, .ui_window_docked{
    background-color: #c2c6ca !important;
    border: 1px solid #0009;
    box-shadow: none !important;
}

.ui_window__head button:not(.ui_window__head__close){
    background: #c2c6ca;
    box-shadow: inset 1px 1px 0px white, inset -2px -2px 0px #85898d !important;
    border: none !important;
    border-left: 1px solid black !important;
    line-height: 300px !important;
    margin: 0 !important;
    padding: 0 !important;
    height: calc(100%) !important;
    width: 20px !important;
}
.ui_window__head button:not(.ui_window__head__close):active{
    background: #c2c6ca;
    box-shadow: inset 1px 1px 0px #85898d !important;
    border: none !important;
    border-left: 1px solid black !important;
    line-height: 300px !important;
    margin: 0 !important;
    padding: 0 !important;
    height: calc(100%) !important;
    width: 20px !important;
}
.ui_window__head__minimize{
    background: url("https://cdn.discordapp.com/attachments/323150287399419904/765296771991601182/unknown.png"), #c2c6ca !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.ui_window__head__maximize{
    background: url("https://cdn.discordapp.com/attachments/323150287399419904/765297034529079306/unknown.png"), #c2c6ca !important;
    background-repeat: no-repeat !important;
    background-position: 5px 5px !important;
}
.ui_window__head__close{
    cursor: pointer !important;
    order: -1 !important;
    background: url(https://cdn.discordapp.com/attachments/323150287399419904/765295317335277608/unknown.png) !important;
    background-position: 1px 1px !important;
    box-shadow: none !important;
    border: none !important;
    border-right: 1px solid black !important;
    line-height: 300px !important;
    margin: 0 !important;
    padding: 0 !important;
    height: calc(100%) !important;
    width: 20px !important;
    /*REMOVE SOON*/ margin-right: 4px !important;
}

@keyframes close{
    from{
        transform: scale(1);
        opacity: 1;
    }to{
        opacity: 0;
        transform: scale(0.8);
        display: none;
    }
}

 select, textarea, .skin_inset_deep, .ui_alert--help .ui_alert__text {
    border: none !important;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="range"]){
border: 1px solid black !important;
}
*.ui_window{
transition: none !important;
animation: none !important;
}
.backOutDown, .backOutLeft, .backOutRight, .backOutUp, .bounceOut, .bounceOutDown, .bounceOutLeft, .bounceOutRight, .bounceOutUp, .fadeOut, .fadeOutDown, .fadeOutDownBig, .fadeOutLeft, .fadeOutLeftBig, .fadeOutRight, .fadeOutRightBig, .fadeOutUp, .fadeOutUpBig, .fadeOutTopLeft, .fadeOutTopRight, .fadeOutBottomRight, .fadeOutBottomLeft, .flipOutX, .flipOutY, .lightSpeedOutRight, .lightSpeedOutLeft, .rotateOut, .rotateOutDownLeft, .rotateOutDownRight, .rotateOutUpLeft, .rotateOutUpRight, .rotateOut, .rotateOutDownLeft, .rotateOutDownRight, .rotateOutUpLeft, .rotateOutUpRight, .rollOut, .zoomOut, .zoomOutDown, .zoomOutLeft, .zoomOutRight, .zoomOutUp, .slideOutDown, .slideOutLeft, .slideOutRight, .slideOutUp, .hinge{
    animation: none !important;
}
.ui_explorer_window#ui_window_0 .ui_explorer span{
    color: black;
}

.ui_window_docked:not(.ui_window_docked--minimized){
    display: none !important;
}



.ui_explorer_window .ui_window__foot, .ui_explorer_window .ui_explorer__nav, .ui_explorer_window:not(#ui_window_0) .ui_window__menu{
    display: none !important;
}
.ui_selected>span{
    background: #001ba2 !important;
    color: #fff !important;
}
.ui_icon.ui_selected:not(.ui_is_dragging)>img{
    filter: none !important;
}
.ui_icon{
margin: 3px !important;
}

.ui_explorer_window .ui_window__body{
overflow: hidden !important;
}
.ui_explorer{
margin-right: -1px !important;
}

img[src*="/c/files/images/icons/burger.png"] {
    content: url("https://raw.githubusercontent.com/mRB0/many-windows-3.1-icons-in-png-format/master/PROGM004.PNG");
}

/* -- CREDITS: DAKEDRES    -- */
/* dakedres was here ;3 */
body *::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: none;
}

body *::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
  background: #c2c6ca;
  box-shadow: inset 1px 1px #fff, inset -2px -2px gray;
  border: 1px solid;
  border-color: black !important;
}

body *::-webkit-scrollbar-track {
  image-rendering: optimizeSpeed;
    background: #c2c6ca !important;
    border-left: 1px solid black !important;
}

body *::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  background-size: 16px;
}

body *::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=");
}

