#s42_screen{
    width: 800px !important;
    height: 600px !important;
    margin: auto !important;
    margin-top: 50px !important;
    border: 1px solid #373737 !important;
}

body{
    background: #000 !important;     
}
